@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root{
    --document-bg: #ffffff;
    --document-header-color: #000;
    --table-header-bg: rgb(41, 116, 87);
    --table-header-fg: rgb(255, 255, 255);
    --panel-bg: rgb(19, 146, 106);
}


*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
    background-color: var(--document-bg);
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.container > h1 {
    color: var(--document-header-color);
    line-height: 1.5rem;
    font-size: 56px;
}

#openaddbook {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px 0;
    padding: 14px 28px;
    font-size: 26px;
    cursor: pointer;
}

#openaddbook:hover{
    background-color: var(--panel-bg);
    color: white;
}

.container > table{
    max-width: 80%;
    border-collapse: collapse;
    cursor: crosshair;
}

.container table th{
    background-color: var(--table-header-bg);
    color: var(--table-header-fg);
}

.container > table > tr, td, th{
    border-bottom: 1px solid #000;
}

.container table tr td button{
    border-radius: 5px;
    border: 0px solid black;
    background-color: var(--table-header-bg);
    color: var(--table-header-fg);
    font-size: 20px;
    width: 120px;    
}

.container table tr td button:hover {
    background-color: rgb(19, 53, 19);
    cursor: pointer;
}

#booktable:last-child {
    border-bottom: none;
}

#booktable tr:hover{
    background-color: rgb(235, 248, 255);
}

.bookpanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--panel-bg);
    overflow-x: hidden;
    padding-top: 60px;
    /* padding-left: 3px; */
    transition: 0.5s;
    color: white;
    display: flex;
    flex-direction: column;
}

.bookpanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.bookpanel a {
    text-decoration: none;
    color:#ffffff;
}

.bookpanel input{
    float: right;    
    margin-right: 5px;
    height: 30px;
    padding: 0 5px;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
}

.bookpanel input:focus{
    outline: 3px solid rgb(235, 240, 233);
    background-color: rgb(67, 126, 86);
    color: white;
}

input[type=checkbox]{
    cursor: pointer;
}

input[type=submit]{
    width: 95%;
    border: 1px solid black;
    font-size: 16px;
    padding: 5px 0;
    border-radius: 5px;
    margin-right: 10px;
}

input[type=submit]:hover{
    background-color: rgb(21, 143, 5);
    color: white;
    
}

#addbook div{
    height: 35px;
    text-align: justify;
}


